{#{% extends 'base.html.twig' %}#}
{% extends 'psonfedhead/layout_menu.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="hero">
        <img src="../bootstrap/images/hero_2.jpg" />
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4" style="margin-top: 5%;">
                <div class="well">
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            {#<h2 align="center"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</h2>#}
                            <h2 align="center"><i class="fa fa-lock" aria-hidden="true"></i> {{ ' Connexion au GED '|trans }}</h2>
                            <div class="form-group">
                                <label for="username"><span class="mr-2 icon-user"></span>{{ 'label.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><span class="mr-2 icon-lock"></span>{{ 'label.password'|trans }}</label>
                                <input type="password" id="password" name="_password" class="form-control" />
                            </div>
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .hero {
            position: relative;
            overflow: hidden;
            padding: 16px;
            border: 1px dashed green;
        }
        .hero img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            opacity: 0.4;
        } 
    </style>
{% endblock %}

{# {% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %} #}
