{% extends 'base.html.twig' %}


{% block title %}Liste Dossier{% endblock %}

{% block body %}

    <div class="form-inline input-group" style="margin-left: 70%;">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
    </div>
        <div class="form-outline">
        </div>

    <h1>Liste des Dossiers /Classeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cote</th>
                <th>Titre</th>
                <th>Analyse</th>
                <th>Date_debut</th>
                <th>Date_butoire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers %}
            <tr>
                <td>{{ dossier.cote }}</td>
                <td>{{ dossier.titre }}</td>
                <td>{{ dossier.analyse }}</td>
                <td>{{ dossier.dateDebut ? dossier.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ dossier.dateButoire ? dossier.dateButoire|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('dossier_show', {'id': dossier.id}) }}"><i class="fa fa-eye" aria-hidden="true"> ouvrir</i></a>
                    {#<a href="{{ path('dossier_edit', {'id': dossier.id}) }}">edit</a> on cache aux anonymous cette partie #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dossier_new') }}" class="btn btn-primary">Nouveau dossier</a>
{% endblock %}
