{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
    {#Juery is necessary#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript">

        </script>
{% endblock %}


{% block body_id 'blog_search' %}

{% block main %}
    <div id="search-results" class="example-wrapper"></div>

    <form id="search-form" class="example-wrapper" role="search" action="{{ path('doss_search') }}" method="GET">
        <div class="form-group">
            <input type="text" 
                   name="search"
                   class="form-control search-field"
                   placeholder="Suche..."
            >
            {#<button type="submit" class="btn btn-success" name="sub">search</button>#}
        </div>
    </form>


{% endblock %}

{# {% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %} #}
