{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}
{% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{{ asset('bootstrap/css/usefulltable.css') }}"  rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="main-content">
        <div class="container mt-7">
          <!-- Table -->
        <div class="form-inline input-group" style="margin-left: 70%;">
            <div class="form-outline">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Liste des Documents</h3>
                </div>

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Fichier</th>
                                <th scope="col">Dossier</th>
                                <th scope="col">UpdatedAt</th>
                                <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}
                                <tr>
                                    <td>{{ document.titre }}</td>
                                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ asset(vich_uploader_asset(document, 'thumbnailFile')) }}</td>
                                    <td>{{ document.dossier }}</td>
                                    <td>{{ document.updatedAt ? document.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('document_show', {'id': document.id}) }}">show</a>
                                        {#<a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>#}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>

    {#<a href="{{ path('document_new') }}">Create new</a>#}
{% endblock %}
