{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document</h1>
    <a href="{{ path('document_index') }}" class="btn btn-outline-primary">Retour sur la liste des documents</a>
    
    <table class="table table-light table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ document.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ document.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ document.type }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ document.publishedAt ? document.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ document.createdAt ? document.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ document.updatedAt ? document.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Thumbnail</th>
                <td>{{ document.thumbnail }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ document.auteur }}</td>
            </tr>
        </tbody>
    </table>

    {# <article class="post">
        <h2><a href="#">{{ document.titre }}</a></h2>
        <p class="post_metadata">
            {{ document.description }}
        </p>
        <p class="post-metadata">
           <span class="metadata"><i class="fa fa-calendar"></i> {{ document.updatedAt | date('Y-m-d H:i:s') }}</span>
           <span class="metadata"><i class="fa fa-calendar"></i> {{ document.CreatedAt | date('Y-m-d H:i:s') }}</span>
        </p>
        <h3>{{ document.dossier }}</h3>
    </article> #}


    {% if is_granted('ROLE_ADMIN') %}
    
        <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>

        {{ include('document/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}


